<<<<<<< HEAD
<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input type="password" placeholder="Insira uma senha" id="room-pass">
        <button>
            <img src="/images/users-white.svg" alt="Entrar na sala">
            Criar sala
        </button>
    </form>
</section>
              
=======
<div class="container">
    <section>
        <h2>Crie sua própria sala</h2>
        <form action="/room/create-room">
            <label class="sr-only" for="room-pass">Insira uma senha</label>
            <input type="password" placeholder="Insira uma senha" id="room-pass">
            <button>
                <img src="images/users-white.svg" alt="Entrar na sala">
                Criar sala
            </button>
        </form>
    </section>
</div>
>>>>>>> f43bb1b8f87928db576566ebf5d6911d4bbd2a9c
